<!-- HEADER -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      rel="shortcut icon"
      href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/tnc-standard-favicon.png?v=1724356573000"
      type="image/ico"
    />
    <link
      rel="apple-touch-icon"
      href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/tnc-standard-favicon.png?v=1724356573000"
    />
    <meta
      name="theme-color"
      content="#fafafa"
      media="(prefers-color-scheme: light)"
    />

    <title>${page~title} | The Nature Conservancy</title>

    <meta property="og:type" content="website" />

    <!-- Immeditately get color on the page and hide the contents until engrid.css is rendered by the browser -->
    <style>
      body {
        /*opacity: 0;*/
      }

      body:not(#en__pagebuilder) .body-banner > *,
      body:not(#en__pagebuilder) .page-backgroundImage > * {
        background-color: #f1f1f1;
      }

      body[data-engrid-embedded] {
        background-color: transparent !important;
      }

      body:not(#en__pagebuilder) .click-to-expand:not(.expanded):first-child {
        max-height: 149px;
      }
      .foursiteDonationLightbox {
        background-color: #333 !important;
      }
      body[data-engrid-first-page]:not([data-engrid-embedded]) #engrid {
        opacity: 0;
      }
    </style>

    <link
      rel="preconnect"
      href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!--Kalam Font for Inline Upsell -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!--Kalam Font for Inline Upsell -->

    <!-- Placed here so that downloading begins before Engaging Network's CSS and JS files -->
    <link
      rel="preload"
      href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/engrid.min.css"
      as="style"
    />
    <link
      rel="preload"
      href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/fonts.css"
      as="style"
    />
    <!--<link rel="preload" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/logo-tnc.svg?v=1612203209000" as="image">-->
  </head>
  <body
    data-engrid-theme="tnc"
    data-engrid-layout="centercenter1col"
    data-engrid-subtheme="multistep"
    data-engrid-add-input-placeholders
    data-conditonally-hide-show-digital-wallet-elements
    data-highlight-required-fields
  >
    <noscript
      >With Javascript disabled this page may not function as
      expected.</noscript
    >
    <!-- Start Tracking scripts -->
    <script src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/analytics.js"></script>
    <!-- End Tracking scripts -->

    <!-- Quickly check to see if the page is in an iFrame and if so set the corresponding Custom Attribute so it can also set the background-color. Must be after <body> otherwise there will be a flash of color -->
    <script>
      if (window.self !== window.top) {
        document
          .getElementsByTagName("BODY")[0]
          .setAttribute("data-engrid-embedded", "");
      }
    </script>

    <!-- Load ENGrid's CSS here so that it always comes after Engaging Networks CSS which gets injected into <head> -->
    <link
      href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/engrid.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- REF: https://csswizardry.com/2019/08/making-cloud-typography-faster/ -->
    <link
      rel="stylesheet"
      href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/fonts.css"
      media="print"
      onload="this.media='all'"
    />
    <!--<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7544374/6342392/css/fonts.css" />-->

    <link
      href="https://fonts.googleapis.com/css2?family=Kalam&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <!--Kalam Font for Inline Upsell -->

    <!-- Start preloading the Header Font, Body Font, and Label Fonts while the CSS files are still being downloaded -->
    <!-- <link rel="preload" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/font.woff2" as="font" type="font/woff2" crossorigin>  -->

    <div id="engrid">
      <!-- Start EN Page Builder -->

      <!-- /HEADER -->

      <!-- FOOTER -->

      <!-- End EN Page Builder -->
    </div>

    <!-- Placed here so it does not render block the page.-->
    <script src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/engrid.min.js"></script>

    <!-- Start Render Critical Javascript (comes after the DOM has finished loading) -->
    <script>
      // 4Site's simplified image lazy loader
      var srcDefer = document.querySelectorAll("img[data-src]");
      for (var i = 0; i < srcDefer.length; i++) {
        let dataSrc = srcDefer[i].getAttribute("data-src");
        if (dataSrc) {
          srcDefer[i].setAttribute("decoding", "async"); // Gets image processing off the main working thread
          srcDefer[i].setAttribute("loading", "lazy"); // Lets the browser determine when the asset should be downloaded
          srcDefer[i].setAttribute("src", dataSrc); // Sets the src which will cause the browser to retrieve the asset
          srcDefer[i].setAttribute("data-engrid-data-src-processed", "true"); // Sets an attribute to mark that it has been processed by ENGrid
          srcDefer[i].removeAttribute("data-src"); // Removes the data-source
        }
      }
    </script>
    <!-- End Render Critical Javascript (comes after the DOM has finished loading) -->

    <!-- Additional Social Sharing Meta Tags Used by Facebook-->
    <!-- EN adds these as blank tags just before <body>, so we need to redefine them here to create page template level defaults them -->
    <link
      rel="image_src"
      href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/NCM150602_D073_Resized_640x360.jpg?v=1625585588000"
    />
    <meta name="title" content="${page~title}" />
    <meta
      name="description"
      content="The Nature Conservancy is tackling the root causes of some of the toughest problems facing people and nature today, replicating good ideas to save many places and improve people’s lives."
    />

    <!-- START: Multistep Script -->
    <script>
      function sendMessage(key, value) {
        const message = { key: key, value: value };
        if (window.self !== window.top) window.parent.postMessage(message, "*");
      }
      if (pageJson.pageNumber === pageJson.pageCount) {
        document.querySelector("body").dataset.thankYou = "true";
        sendMessage("status", "loaded");
        sendMessage("status", "celebrate");
        sendMessage("class", "thank-you");
      }
    </script>
    <!-- END: Multistep Script -->

    <!-- START: Attribution Session -->
    <script>
      window.additionalCommentsTag = `{user_data~Additional Comments Stand In}`;

      const scriptElement = document.createElement("script");
      scriptElement.src =
        "https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/en-attribution-session.js?v=1";
      scriptElement.setAttribute("session-expiration", "900");
      scriptElement.setAttribute(
        "session-additional_comments",
        "supporter.NOT_TAGGED_62"
      );
      scriptElement.setAttribute(
        "session-iframe",
        "https://www.nature.org/en-us/cdc/"
      );
      document.head.appendChild(scriptElement);
    </script>
    <!-- END: Attribution Session -->
    <!-- ENgrid Multistep Self-Loading Code -->
    <script>
      if (window.self === window.top && "DonationLightboxOptions" in window) {
        const loadScript = (url) => {
          const script = document.createElement("script");
          script.src = url;
          script.onerror = () => console.error(`Failed to load script: ${url}`);
          document.head.appendChild(script);
        };
        document.cookie =
          "HideDonationLightbox=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT";
        loadScript(
          "https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/donation-lightbox-parent.js"
        );
      }
    </script>
  </body>
</html>

<!-- /FOOTER -->
