// Define SCSS variables
$breakpoint-mobile: 320px;
$breakpoint-tablet: 740px;
$breakpoint-desktop: 980px;
$breakpoint-wide: 1300px;

// // Use in media queries
// @media (min-width: $breakpoint-desktop) {
//   // styles
// }
